<template>
  <TopNav/>
  <router-view/>
</template>
<script>
import TopNav from '@/components/Navigation/TopNav.vue'

export default {
  name: 'App',
  components: {
    TopNav
  }
}
</script>

<style>
*{
  font-family: 'Libre Franklin', sans-serif;
/* font-family: 'Open Sans', sans-serif; */
}

#app {
}
body {
  margin: 0;
  /* background: #379683; */
  padding: 0;
}
nav {
  padding: 30px;
}

nav a {
}


</style>
