<template>
  <div class="home">
    <div class="hero">
      <p class="make-now-btn">PORUČI</p>
    </div>
    <div class="second-section">
      <div class="left-div">
        <h3>Kome su namenjene Funky Fresh jelkice?</h3>
        <p>
          Svako ko zeli da obraduje svog ljubimca sa potpuno kastomizovanom
          jelkicom.
        </p>
        <p>Za sve one kome su automobili više od prevoznog sredstva</p>
        <button>Obraduj ljubimca!</button>
      </div>
      <div class="right-div">
        <div class="images"></div>
        <div class="images"></div>
      </div>
    </div>
    <div class="third-section">
      <h3>Kako poručiti svoju novu jelkicu</h3>
    </div>
    <div class="forth-section">
      <h4>Zapratite nas i na socijalnim mrežama</h4>
    </div>
    <div class="fifth-section">
      <h3>prijavite se da dobijete popuste i obavestenja o novim akcijama</h3>
    </div>
    <div class="footer">
      <!-- <h3>footer</h3> -->
    </div>
  </div>
</template>

<script>
export default {
  name: "HomeView",
  components: {
    // HelloWorld,
    // VueSlickCarousel,
  },
};
</script>

<style scoped>
.home {
  width: 100%;
  padding: 0;
  margin: 0;
  /* max-width: 1080px; */

  margin: 0 auto;
  /* background: gray; */
}
h2 {
  margin: 0;
}
.hero {
  height: 100vh;
  background-image: url("./../assets/backgrounds/air-fresheners2.jpg");
  background-image: url("./../assets/backgrounds/1321.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: flex-end;
  align-items: flex-end;
  /* background: #141414; */
}
.hero button {
  display: block;
  height: 50px;
}

.make-now-btn {
  /* border-radius: 10px; */
  padding: 15px 70px;
  cursor: pointer;
  /* background: black; */
  background: #fa823f;
  margin: 50px;
  text-align: center;
  /* width: 200px; */
  font-size: 1.5em;
  font-weight: bolder;
  color: #141414;
  /* color: white; */
  /* box-shadow: 5px 5px 18px #ffff; */
}
@media only screen and (max-width: 600px) {
  .make-now-btn {
    font-size: 20px;
  }
}
.second-section {
  height: 75vh;
  text-align: center;
  /* display: flex; */
  /* justify-content: center; */
  /* flex-direction: column; */
  /* background: #05386B; */
  /* border: 1px solid black; */
  /* color: #05386b; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: white;
  background: black;
  align-content: center;
}
.left-div {
  padding: 25px 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.left-div h3 {
  font-size: 50px;
  font-weight: bolder;
  font-weight: 900;
  /* text-transform: uppercase; */
}
.left-div p {
  text-align: left;
  font-size: 20px;
}
.left-div button {
  border: none;
  background: #fa823f;
  padding: 20px;
  font-size: 25px;
  font-weight: 900;
  color: white;
  /* text-transform: uppercase; */
  /* margin-top: 20px; */
  cursor: pointer;
  max-width: 50%;
}
.third-section {
  background-color: #379683;
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #edf5e1;
}
.forth-section {
  height: 50vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.fifth-section {
  height: 25vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer {
  height: 20vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #5cdb95;
}
/* .right-div{
  display: flex;
  flex-direction: column;
}
.right-div img{
  display: block;
  max-height: 50%;
} */

.right-div {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  height: 75vh;
}
.right-div .images {
  height: 100%;
  /* border: 5px solid #379683; */
  background: rebeccapurple;
  background-image: url("./../assets/backgrounds/345.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
</style>
