<template>
  <div class="top-nav">
    <div class="hamburger"></div>
    <div class="logo">
      <img src="./../../assets/logo-transparent.png" alt="" />
    </div>
  </div>
</template>

<script>
export default {
  name: "TopNav",
};
</script>

<style scoped>
.top-nav {
  display: flex;
  width: 100%;
  background: none;
  position: absolute;
  /* height: 10vh; */
  top: 0;
  background: black;
  justify-content: center;
}
.logo img {
  width: 75px;
  padding: 10px;
  display: block;
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .logo img {
    width: 75px;
  }
}
</style>
